.actions{
	margin-top: 10px;
}
#chatview{
    position:absolute;
	margin-left: 150px;
	margin-right: 22px;
	margin-top: 22px;
	width: 1040px;
}
.login{
    position:relative;
	width: 228px;
	max-height: 34px;
    color: #0C59CF; 
}
.buttons{
    background-color: #C9F1FD; 
    color: #0C59CF; 
    border-color:#0026ff; 
    border-style:solid;
    position:relative;
    height: 34px;
    width:110px;
}
#choosingdeleting{
    color: #0C59CF; 
    border-color: #0C59CF; 
}

.inlineCheckbox{
    color:#0C59CF;
}
.newmessage{
    visibility:hidden;
    position:relative;
    width: 75%;
    margin: 0 auto;
    vertical-align:bottom;
}
.messagesList{
    list-style-type:none;
}
.message{    
    text-align:center;
}
#message{
    position:relative;
    width:661px;
    height: 79px;
}
#allMessages{
    visibility:hidden;
}
.deleteMessage{
    background-color:#ffffff;
    color:#0C59CF; 
    border-style:none;
    position:relative;
}